---
import NavElement from "../components/NavElement.astro";
import BaseLayout from "./BaseLayout.astro";


interface Props {
  title: string;
  background: string;
  color: string;
  backgroundDark: string;
  colorDark: string;
}

let {title, background, backgroundDark, color, colorDark} = Astro.props;
---

<BaseLayout title={title} background={background} color={color} backgroundDark={backgroundDark} colorDark={colorDark}>
    <header class="fixed w-full">
        <nav class="flex gap-8 justify-center shadow-lg">
            <NavElement href="/" icon="mdi:home" label="Home"/>
            <NavElement href="/projects" icon="mdi:package" label="Projects"/>
            <NavElement href="/tech" icon="mdi:code" label="Tech"/>
            <NavElement href="https://l0drex.github.io/travel" icon="mdi:map" label="Travel"/>
            <NavElement href="https://portfolio.pixelfed.social/lh4tography" icon="mdi:camera" label="Photography"/>
        </nav>
    </header>

    <main class="flex flex-col items-center mt-14 flex-grow justify-center">
        <slot/>
    </main>
    <footer class="flex justify-center m-2">
        <a href='https://docs.github.com/en/site-policy/privacy-policies/github-general-privacy-statement'>Privacy Notice</a>
    </footer>
</BaseLayout>

<style>
    nav {
        background-color: var(--background);
    }

    @media (prefers-color-scheme: dark) {
        nav {
            background-color: var(--backgroundDark);
        }
    }
</style>