---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  background?: string;
  color?: string;
  backgroundDark?: string;
  colorDark?: string;
}

let { title, background, backgroundDark, color, colorDark } = Astro.props;
---

<BaseLayout
  title={title}
  background={background}
  color={color}
  backgroundDark={backgroundDark}
  colorDark={colorDark}
>
  <div class="absolute fixed top-0 left-0 -z-40 h-screen w-screen">
    <slot name="background" />
  </div>
  <main class="mt-14 flex flex-grow flex-col items-center justify-center">
    <slot />
  </main>
  <footer class="m-2 flex justify-center">
    <a
      href="https://docs.github.com/en/site-policy/privacy-policies/github-general-privacy-statement"
      >Privacy Notice</a
    >
  </footer>
</BaseLayout>

<style>
  nav {
    background-color: var(--background);
  }

  @media (prefers-color-scheme: dark) {
    nav {
      background-color: var(--backgroundDark);
    }
  }
</style>
