---
import { getCollection, CollectionEntry } from "astro:content";
import MarkdownPostLayout from '@layouts/BlogPost.astro';
import Layout from "@layouts/Layout.astro";
import Button from "@components/Button.astro";

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map(entry => ({
    params: {slug: entry.slug},
    props: {entry}
  }));
}

interface Props {
  entry: CollectionEntry<'blog'>
}

const {entry} = Astro.props;
const {Content} = await entry.render();
const projectUrl = "/projects/" + entry.data.project?.slug;
---

<Layout title={entry.data.title}>
    <MarkdownPostLayout frontmatter={entry.data}>
        <Content/>
        <div slot="references" id="links" class="text-center my-8">
          {entry.data.project && (
                  <Button href={projectUrl} icon="mdi:package" label="Related project"/>
          )}
        </div>
    </MarkdownPostLayout>
</Layout>
